.post {
  margin: 0 auto;
}

hr {
  border: 1.5px solid var(--secondary-color);
  color: var(--secondary-color);
  height: 0;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  width: 75ch;
}

@media (min-width: 960px) {
  .post {
    width: 75ch;
    margin: 0 auto;
  }
}

.postHeader {
  margin-bottom: 2rem;
}

.postTitle {
  margin-bottom: 0.25rem;
}

.postDate {
  font-style: italic;
  font-size: 1rem;
}
