// Color scheme borrowed from
// https://kuler.adobe.com/6a00d83451ccbc69e201347fc98117970c-400wi-color-theme-3684331/
$home-base-color: #db512f;
$home-text-color: #cbc3a5;

html, body#home {
  height: 100%;
  min-height: 100%;
  font-family: 'Forum', Helvetica, sans-serif;
  color: darken($home-text-color, 30%);
}

h1, h2, h3 {
  font-family: 'EB Garamond', Helvetica, sans-serif;
  color: $home-base-color;
}

// Nav
#home {
  width: 100%;
  max-width: 100%;
  margin: 0;

  header {
    height: 30%;
    min-height: 30%;
    background-color: lighten($home-text-color, 30%);
    color: $home-base-color;

    h1 {
      font-weight: bold;
      font-size: 6em;
      letter-spacing: -5px;

      @include media($mobile-breakpoint) {
        font-size: 4em;
      }
    }
  }

  #content {
    height: 70%;
    min-height:70%;
  }

  nav {
    @include fill-parent();
    height: 100%;
    min-height: 100%;

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;

    @include media($mobile-breakpoint) {
      flex-direction: column;
    }
    @include media($larger-devices) {
      flex-direction: row;
    }

    label {
      @include transition(1s all);
      cursor: pointer;
      -webkit-flex: 1;
      -moz-flex: 1;
      -ms-flex: 1;
      flex: 1;

      text-align: center;

      @include media($larger-devices) {
        height: 100%;
        min-height: 100%;
      }

      h2 {
        margin-top: 2em;
        color: lighten($home-text-color, 30%);
        @include media($larger-devices) {
          margin-top: 1em;
        }
      }

      a {
        display: inline-block;
        width: 0; height: 0;
        overflow: hidden;
        opacity: 0;
        @include transition(opacity 0.6s ease-in);
      }
    }

    input[type=radio] {
      display: none;

      &:checked + label {
        -webkit-flex: 4;
        -moz-flex: 4;
        -ms-flex: 4;
        flex: 4;

        a {
          display: inline-block;
          opacity: 1;
          text-decoration: none;
          height: 100%;
          min-height: 100%;
          width: 100%;
          display: inline-block;
          text-align: center;

          overflow: hidden;
        }
      }
    }
  }

  // Different colors for nav section
  $nav-colors: #1b19a2, #43a30d, #d6d326, #5d43db;
  @for $item from 1 through length($nav-colors) {
    label:nth-of-type(#{$item}) {
      background-color: lighten($home-base-color, (5% * $item));
      a {
        color: darken($home-base-color, 40% / $item);
      }
    }
  }
}

// Content
.intro-image {
  width: 100%;
  height: 30em;

  background-image: url('/images/family.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 50% top;

  @include media($mobile-breakpoint) {
    height: 10em;
  }
}

#home-content {
  @include outer-container;

  .words {
    @include row;

    .content {
      @include span-columns(9);

      @include media($mobile-breakpoint) {
        @include span-columns(12);
      }
    }

    #blog-listing {
      @include span-columns(3);

      @include media($mobile-breakpoint) {
        @include span-columns(12);
      }
    }
  }
}
