html, body#home {
  height: 100%;
  min-height: 100%;
}

// Color scheme borrowed from
// https://kuler.adobe.com/6a00d83451ccbc69e201347fc98117970c-400wi-color-theme-3684331/
$home-base-color: #db512f;
$home-text-color: #cbc3a5;

#home {
  width: 100%;
  max-width: 100%;
  margin: 0;

  header {
    height: 30%;
    min-height: 30%;
    background-color: lighten($home-text-color, 30%);
    color: $home-base-color;
  }

  #content {
    height: 70%;
    min-height:70%;
  }

  nav {
    @include fill-parent();
    height: 100%;
    min-height: 100%;

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;

    @include media(max-width 480px) {
      flex-direction: column;
    }
    @include media(min-width 480px) {
      flex-direction: row;
    }

    label {
      @include transition(1s all);
      cursor: pointer;
      -webkit-flex: 1;
      -moz-flex: 1;
      -ms-flex: 1;
      flex: 1;

      text-align: center;

      @include media(min-width 480px) {
        height: 100%;
        min-height: 100%;
      }

      h3 {
        margin-top: 2em;
        color: lighten($home-text-color, 30%);
        @include media(max-width 480px) {
          margin-top: 1em;
        }
      }

      a {
        display: inline-block;
        width: 0; height: 0;
        overflow: hidden;
        opacity: 0;
        @include transition(opacity 0.6s ease-in);
      }
    }

    input[type=radio] {
      display: none;

      &:checked + label {
        -webkit-flex: 4;
        -moz-flex: 4;
        -ms-flex: 4;
        flex: 4;

        a {
          display: inline-block;
          opacity: 1;
          text-decoration: none;
          height: 100%;
          min-height: 100%;
          width: 100%;
          display: inline-block;
          text-align: center;

          overflow: hidden;
        }
      }
    }
  }

  // Different colors for nav section
  $nav-colors: #1b19a2, #43a30d, #d6d326, #5d43db;
  @for $item from 1 through length($nav-colors) {
    label:nth-of-type(#{$item}) {
      background-color: lighten($home-base-color, (5% * $item));
      a {
        color: darken($home-base-color, 40% / $item);
      }
    }
  }
}
