#home {
  width: 100%;
  max-width: 100%;
  margin: 0;
}

#home header {
  @include row;

  color: $home-base-color;

  height: 100%;

  // Left site - Words
  .content {
    @include span-columns(9);
    width: 61.804%;
    height: 100%;
    margin: 0;

    background-color: #3a3a3a;
    background-image: url('/images/family.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% top;

    position: relative;
    .text {
      background-color: rgba(255, 255, 255, 0.5);
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      height: golden-ratio(16px, 7);


      @include media($larger-devices) {
        padding-left: golden-ratio(16px, 3);

        h1, h2, quote {
          @include span-columns(12);
          position: relative;
        }
      }

      h1 {
        font-weight: bold;

        font-size: golden-ratio(16px, 4);
        letter-spacing: -3px;
      }

      quote {
        font-size: golden-ratio(16px, 1);
        padding-right: 1em;

        .attribution {
          font-size: golden-ratio(16px, 0);
          margin-top: golden-ratio(16px, -1);
          display: block;
          font-style: italic;
        }
      }
    }

    @include media($mobile-breakpoint) {
      @include span-columns(12);
      height: 61.804%;

      .text {
        @include span-columns(12);
        background-color: rgba(255, 255, 255, 0.7);
        position: relative;
        top:0; left: 0;
        height: 100%;

        h1, h2, quote {
          @include span-columns(12); 
          text-align: center;
        }

        h1 {
          font-size: golden-ratio(1em, 3);
          letter-spacing: -2px;
          margin-top: 0.3em;
          margin-bottom: 0.5em;
        }

        quote {
          text-align: justify;
          padding-left: 1em;
          padding-right: 1em;
          font-weight: 500;
          font-size: golden-ratio(1em, 1);
        }

        h2 {
          font-size: golden-ratio(1em, 0);
        }
      }
    }
  }

  // Right side - Nav
  nav {
    @include span-columns(3);
    width: 38.1953%;
    margin: 0;

    height: 100%;

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;

    flex-direction: column;

    label {
      @include transition(1s all);
      cursor: pointer;
      -webkit-flex: 1;
      -moz-flex: 1;
      -ms-flex: 1;
      flex: 1;

      text-align: center;

      h2 {
        margin-top: 2em;
        color: lighten($home-text-color, 30%);
        @include media($larger-devices) {
          margin-top: 1em;
        }
      }

      a {
        display: inline-block;
        width: 0; height: 0;
        overflow: hidden;
        @include transition(color 1s linear);
      }
    }

    // Different colors for nav section
    $nav-colors: #1b19a2, #43a30d, #d6d326, #5d43db;
    @for $item from 1 through length($nav-colors) {
      label:nth-of-type(#{$item}) {
        background-color: lighten($home-base-color, (5% * $item));
        a {
          color: darken($home-base-color, 40% / $item);
        }
      }
    }

    input[type=radio] {
      display: none;

      &:checked + label {
        -webkit-flex: 4;
        -moz-flex: 4;
        -ms-flex: 4;
        flex: 4;

        display: flex;
        flex-direction: column;

        h2 {
          flex: 1;
        }

        a {
          flex: 5;
          width: 100%;
          text-decoration: none;
          text-align: center;

          @include transition(color 1s linear);
          overflow: hidden;
          color: #ffffff;
          text-decoration: underline;
        }
      }
    }

    @include media($mobile-breakpoint) {
      @include span-columns(12);
      height: 38.1953%;

      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: flex;
      flex-direction: column;

      label {
        h2 { margin: 0;}
      }
    }
  }
}

#about {
  @include outer-container;
  height: 100%;

  .words {
    @include row;

    .content {
      @include span-columns(12);

      @include media($mobile-breakpoint) {
        @include span-columns(12);
      }
    }

    #blog-listing {
      @include span-columns(12);

      @include media($mobile-breakpoint) {
        @include span-columns(12);
      }
    }
  }
}

#about .iLove, #about .iAm {
  @include row;

  section {
    @include span-columns(4);
  }
  @include media($mobile-breakpoint) {
    h1 {
      text-align: center;
    }

    section {
      @include span-columns(12);

      h1 {
        text-align: center;
      }
    }
  }
}

