.root {
  font-size: 0.85em;
  margin: 0 auto;
  max-width: 56.25rem;
  padding-top: 1rem;
  width: 100ch;
  text-align: justify;
}


.root h1,
.root h2,
.root h3 {
  font-size: 1rem;
  color: var(--accent-color);
  line-height: 1.2;
  margin-bottom: 0.5em;
}

.root h1,
.root h2 {
  font-size: 1.5rem;
}

@media print {

  .root h1,
  .root h2,
  .root h3 {
    color: var(--accent-color);
    line-height: 1.2;
    margin-bottom: 0.5em;
  }

  .root h1,
  .root h2 {
    font-size: 1.5rem;
  }
}

.root p {
  margin-bottom: 1em;
}

.introduction {
  display: flex;
  justify-content: space-between;
}

@media print {
  .introduction a {
    color: black;
    text-decoration: none;
  }
}

.contact {
  text-align: right;
}

.entry {
  display: flex;
  justify-content: space-between;
}

.accomplishments {
  margin-left: 1em;
}

.dateRange {
  font-style: italic;
}

.pageBreak {
  page-break-before: always;
}

.skills {
  padding: 0;
  margin: 0;
  margin-left: 1em;
  flex-wrap: wrap;
  gap: 0.5em;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
  display: flex;
  margin-bottom: 1em;
  text-align: left;
}

.skills li {
  width: 30%;
  margin-bottom: 0;
}