---
template: main
---

<h1>Blog</h1>

<section class="posts">

<% _.each(posts, function (post) { %>

  <article class="post">
    <h2 class="post__title">
      <a href="/blog/<%= post.slug %>/">
        <%= post.frontMatter.title %>
      </a>
    </h2>
    <p class="post__date">
      <%= moment.utc(post.frontMatter.date).format("dddd, D MMMM YYYY") %>
    </p>
    <p class="post__summary">
      <%= post.frontMatter.summary %>
    </p>
  </article><!-- /.post -->

<% }); %>

</section><!-- /.posts -->

