---
template: main
---

<h1>Blog</h1>

<h2><em>It's a work in progress!</em></h2>

<p>
I apologize everything isn't done yet! I'm actually building a
static site generator plugin for <a href="http://gulpjs.com/" target="_blank">gulp.js</a>
to build this site. With the few hours of free time a week I have, it is a bit slow going.
</p>

<p>
I should have everything done soon!
</p>

<section class="posts">

<% _.each([], function (post) { %>

  <article class="post">
    <h2 class="post__title">
      <a href="/<%= post.slug %>">
        <%= post.frontMatter.title %>
      </a>
    </h2>
    <p class="post__date">
      <%= moment(post.frontMatter.date).format("dddd, DD MMMM YYYY") %>
    </p>
    <p class="post__summary">
      <%= post.frontMatter.summary %>
    </p>
  </article><!-- /.post -->

<% }); %>

</section><!-- /.posts -->

