---
template: home
---

<nav>
  <input type="radio" name="home-nav" id="nav-about" />
  <label for="nav-about">
    <h3>About</h3>
    <a href="/about">
      <div class="navContent">
        <p>
          People + Software + Fun + Intelligent Ideas
        </p>
        <p>
          That's the kind of thing I like to do
        </p>
      </div>
    </a>
  </label>

  <input type="radio" name="home-nav" id="nav-blog" />
  <label for="nav-blog">
    <h3>Blog</h3>
    <a href="/blog">
      <div class="navContent">
        <p>
          Read some of the words I wrote
        </p>
      </div>
    </a>
  </label>

  <input type="radio" name="home-nav" id="nav-work" />
  <label for="nav-work">
    <h3>Work</h3>
    <a href="/work">
      <div class="navContent">
        <p>
          I have a few examples up on the Internet of work I've done. Let's talk
          about them together.
        </p>
      </div>
    </a>
  </label>

  <input type="radio" name="home-nav" id="nav-projects" />
  <label for="nav-projects">
    <h3>Projects</h3>
    <a href="/projects">
      <div class="navContent">
        <p>
          I build things for fun and contribute to projects.
        </p>
        <p>
          Let's go over some of the more interesting ones.
        </p>
      </div>
    </a>
  </label>
</nav>

<h1>My Site</h1>

<h2>Latest Posts</h2>
<ul>
<% _.each(posts.slice(0, 4), function (post) { %>
  <li>
    <a href="/<%- post.slug %>">
      <%= post.frontMatter.title %>
    </a>
  </li>
<% }); %>
</ul>
