---
template: home
---

<nav>
  <input type="radio" name="home-nav" id="nav-about" />
  <label for="nav-about">
    <h2>About</h2>
    <a href="">
      <div class="navContent">
        <p>
          People + Software + Fun + Intelligent Ideas
        </p>
        <p>
          That's the kind of thing I like to do
        </p>
      </div>
    </a>
  </label>

  <input type="radio" name="home-nav" id="nav-blog" />
  <label for="nav-blog">
    <h2>Blog</h2>
    <a href="/blog">
      <div class="navContent">
        <p>
          Read some of the words I wrote
        </p>
      </div>
    </a>
  </label>

  <input type="radio" name="home-nav" id="nav-work" />
  <label for="nav-work">
    <h2>Work</h2>
    <a href="/work">
      <div class="navContent">
        <p>
          I have a few examples up on the Internet of work I've done. Let's talk
          about them together.
        </p>
      </div>
    </a>
  </label>

  <input type="radio" name="home-nav" id="nav-projects" />
  <label for="nav-projects">
    <h2>Projects</h2>
    <a href="/projects">
      <div class="navContent">
        <p>
          I build things for fun and contribute to projects.
        </p>
        <p>
          Let's go over some of the more interesting ones.
        </p>
      </div>
    </a>
  </label>
</nav>

<div class="intro-image"></div>

<section id="home-content">
  <hr class="row-spacer">

  <div class="words">
    <div class="content">
      <h1>I Build Things</h1>
      <p>
        Whether it is building a strong family, getting involved
        in my community, leading teams through projects, or hacking on software, I love
        building and creating
      </p>

      <p>
        When it comes to my professional life, my history paints me first as a technical program
        manager, then a software engineer, then a web developer, and finally as a cross-team,
        "make things happen" technical director.
      </p>

      <p>
        However, I like to think of myself as a hard-working kid lucky enough to know how to
        help people turn their ideas into software experiences.
      </p>
    </div><!-- .content -->

    <aside id="blog-listing">
      <h2>Latest Posts</h2>
      <ul>
      <% _.each(posts.slice(0, 4), function (post) { %>
        <li>
          <a href="/<%- post.slug %>">
            <%= post.frontMatter.title %>
          </a>
        </li>
      <% }); %>
      </ul>
    </aside><!-- #blog-listing -->
  </div><!-- .words -->

  <hr class="row-spacer">
</section>


