---
template: main
description: !
  Selected side projects I think are fun and interesting. Each includes a link
  to code or a demo, where applicable.
---

<h1>Projects</h1>

<% _.each(data.projects, function (project) { %>
<section class="project">
  <div class="project__screenshot">
    <a href="<%= project.demo || project.github %>">
      <img src="<%= project.screenshot %>" alt="<%= project.title %>">
    </a>
  </div>

  <div class="project__information">
    <h2>
      <a href="<%= project.demo || project.github %>" target="_blank">
        <%= project.title %>
      </a>
    </h2>
    <div class="project__links">
      <% if (project.demo) { %>
      <a href="<%= project.demo %>" target="_blank">[Demo]</a>
      <% } %>
      <% if (project.github) { %>
      <a href="<%= project.github %>" target="_blank">[GitHub]</a>
      <% } %>
    </div>
    <div class="description">
      <%= project.content %>
    </div>
  </div>
</section>
<% }); %>
