<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/application.css">
  <title></title>
</head>
<body>
  <header>
    <h1>David Pierce</h1>
    <h2>Software Engineer</h2>
    <nav>
    <ul>
      <li><a href="">Home</a></li>
      <li><a href="">About</a></li>
      <li><a href="">Blog</a></li>
      <li><a href="">Projects</a></li>
      <li><a href="">Work</a></li>
    </ul>
    </nav>
  </header>

  <div id="main">
    <%= contents %>
  </div>
</body>
</html>
