<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/pygments.css">
  <link rel="stylesheet" href="/css/application.css">
  <link href='http://fonts.googleapis.com/css?family=EB+Garamond|Forum' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>David Pierce - Software Engineer</title>
</head>
<body class="post">
  <header>
    <div class="title">
      <a href="/">
        <h1>
          David Pierce

          <span class="tag">
            Software Engineer
          </span>
        </h1>
      </a>
    </div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/#about">About</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/work">Work</a></li>
        <li><a href="/projects">Projects</a></li>
      </ul>
    </nav>
  </header>
  <div class="content">
    <%= contents %>
  </div>
</body>
</html>
