.content {
  width: 80%;
  margin: 0 auto;
  padding-top: 2rem;
}

.content h1, h2, h3, h4, h5 {
  color: var(--accent-color);
}

.readableLayout {
  margin: 0 auto;
  width: 60ch;
}
.readableLayoutTitle {
  margin: 0 auto;
  margin-bottom: 1.5rem;
  /* width: 23ch; */
}
